<p-toast position="bottom-right"></p-toast>
<div class="card">
    <div class="card-header">
        <p-toolbar class="pToolbar">
            <ng-template pTemplate="left">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
                <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedUser(item)" [disabled]="!selectedUsers || !selectedUsers.length"></button>
            </ng-template>
            <ng-template pTemplate="right">
                <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help my-2"></button>
            </ng-template>
        </p-toolbar>
    </div>
    <div class="card-body">
        <p-table #d2 [value]="userList" styleClass="p-datatable-customcss" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [(selection)]="selectedUsers" [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="width: 150px;">Name
                        <p-columnFilter type="text" field="userName" display="menu"></p-columnFilter>
                    </th>
                    <th style="width: 180px;">Email
                    </th>
                    <th style="width: 100px;">Contact
                        <!-- </th>
                    <th style="width: 100px;">Address
                    </th> -->
                        <th style="width: 80px;">City
                            <p-columnFilter type="text" field="cities" display="menu"></p-columnFilter>
                        </th>
                        <!-- <th style="width: 90px;">State
                            <p-columnFilter type="text" field="pincode" display="menu"></p-columnFilter>
                        </th> -->
                        <th style="width: 100px;">Pincode
                            <p-columnFilter type="text" field="pincode" display="menu"></p-columnFilter>
                        </th>
                        <th style="width: 100px;">Action </th>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="item"></p-tableCheckbox>
                    </td>
                    <td>{{item.userName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.contact}}</td>
                    <!-- <td>{{item.address}}</td> -->
                    <td>{{item.cities}}</td>
                    <!-- <td>{{item.states}}</td> -->
                    <td>{{item.pincode}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editUser(item)"></button>
                        <!-- <p-confirmDialog></p-confirmDialog> -->
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUser(item)"></button>
                        <!-- <p-checkbox name="groupname{{item.id}}" [value]="item.selectedDish" [inputId]="item.id" [(ngModel)]="selectedValues" (change)="onCheckboxChange(item.id, $event)"></p-checkbox> -->
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="userDialog" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" header="User Configuration" [modal]="true">
    <ng-template pTemplate="content">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-6">
                <label for="userName">Name</label>
                <input type="text" name="userName" class="p-inputtext-sm" pInputText id="userName" [(ngModel)]="user.userName" placeholder="Name" required autofocus />
                <small class="p-error" *ngIf="submitted && !user.userName">Name is required.</small>
            </div>
            <div class="p-field p-col-6">
                <label for="email">Email</label>
                <input type="email" name="email" class="p-inputtext-sm" pInputText id="email" [(ngModel)]="user.email" placeholder="Email" required autofocus />
                <small class="p-error" *ngIf="submitted && !user.email">Email is required.</small>
            </div>
            <div class="p-field p-col-6">
                <label for="contact">Contact</label>
                <p-inputNumber [(ngModel)]="user.contact" mode="decimal" maxlength="10  " inputId="contact" [useGrouping]="false" required autofocus>
                </p-inputNumber>
                <small class="p-error" *ngIf="submitted && !user.contact">Contact is required.</small><br>
                <label for="city">City</label>
                <p-dropdown [options]="cities" [(ngModel)]="user.cities" id="city" editable="true" placeholder="City">
                    <ng-template let-option pTemplate="item">
                        <span [class]="'user-badge status-' + option.value">{{
                                    option.label
                                    }}</span>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="p-field p-col-6">
                <label for="address">Address</label>
                <textarea rows="4" cols="30" id="address" [(ngModel)]="user.address" pInputTextarea autoResize="autoResize" placeholder="Address" required autofocus></textarea>
                <!-- <input type="textarea" name="address" class="p-inputtext-sm" pInputTextarea id="address" [(ngModel)]="user.address" placeholder="Address" required autofocus /> -->
                <small class="p-error" *ngIf="submitted && !user.address">Address is required.</small>
            </div>
            <div class="p-field p-col-6">
                <label for="state">State</label>
                <p-dropdown [options]="states" [(ngModel)]="user.states" id="state" editable="true" placeholder="State">
                    <ng-template let-option pTemplate="item">
                        <span [class]="'user-badge status-' + option.value">{{
                                    option.label
                                    }}</span>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="p-field p-col-6">
                <label for="pincode">Pincode</label>
                <p-inputNumber [(ngModel)]="user.pincode" minlength="6" maxlength="6" mode="decimal" inputId="pincode" [useGrouping]="false">
                </p-inputNumber>
            </div>
        </div>
        <div class="p-card-footer p-text-right">
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button p-button-raised" (click)="saveUser(user)"></button>
            <button pButton pRipple label="Reset" icon="pi pi-refresh" class="p-button-danger p-button-raised" (click)="reset()"></button>
        </div>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>