<div class="p-card">

	<p-tabView>
		<p-tabPanel header="Order Status">
			<div class="p-grid">
				<div class="p-col-6 borderR">
					<h2 class="orderNumber p-my-2">Order: #455666</h2>
					<h4 class="p-m-0">Order Items</h4>
					<div class="menuItems">
						<table class="p-col-12">
							<thead>
								<tr>
									<th>Name</th>
									<th class="p-text-right">Qty</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										Hyderabadi Biryani
									</td>
									<td class="p-text-right">
										1
									</td>
								</tr>
								<tr>
									<td>
										Roti
									</td>
									<td class="p-text-right">
										3
									</td>
								</tr>
								<tr>
									<td>
										Paneer Tikka Masala
									</td>
									<td class="p-text-right">
										1
									</td>
								</tr>
								<tr>
									<td>
										Veg	Manchurian Dry
									</td>
									<td class="p-text-right">
										1
									</td>
								</tr>
								<tr>
									<td>
										Garlic Naan
									</td>
									<td class="p-text-right">
										1
									</td>
								</tr>
								<tr class="dashedBorderT">
									<td class="p-text-right dashedBorderT">Bill Total: </td>
									<td class="p-text-right dashedBorderT"><strong>450</strong></td>
								</tr>
							</tbody>
						</table> 
					</div> 
					<!-- <button pButton pRipple label="{{showInvoice? 'Hide' :'Show'}} Invoice" type="button" icon="pi pi-book"
					class="p-button-warning p-button-raised p-my-2" (click)="fnShowInvoice()"></button> -->
				</div>
				<div class="p-col-6">
					<h3 class="p-text-normal p-text-center p-my-2">Order Status</h3>
					<p-timeline [value]="orderStatusData" class="dashedBorderB">
						<ng-template pTemplate="marker" let-event>
							<span class="custom-marker p-shadow-2" [ngClass]="'status-' + event.status">
								<i [ngClass]="event.icon"></i>
							</span>
						</ng-template>
						<ng-template pTemplate="content" let-event style="width: 20px;">
							<small class="p-text-secondary">{{event.date | date: 'dd/MM hh:mm a'}}</small>
						</ng-template>
						<ng-template pTemplate="opposite" let-event>
							{{event.name}}
						</ng-template>
					</p-timeline>
					<div class="p-d-flex p-jc-end p-m-2 dashedBorderT">
						<button pButton pRipple label="Cancel Order" type="button" icon="pi pi-times"
							class="p-button-danger p-button-raised p-mt-3" (click)="fnCancelOrder()"></button>
					</div>
				</div>

			</div>
		</p-tabPanel>
		<p-tabPanel header="Invoice">
			<div class="p-col-12">
				<app-invoice *ngIf="adminData" [adminData]="adminData"></app-invoice>
			</div>
		</p-tabPanel>
	</p-tabView>
</div>