                        
                        <div class="p-grid p-mt-5">
                        <div class="p-card p-col-4 p-mx-auto p-px-4"> 
                        <form name="loginForm">
                            <h1 class="p-text-center">FY5 Login </h1>
                            <p class="p-text-muted">Sign In to your account</p>
                            <div class="p-inputgroup p-mb-3">
                                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input type="text" pInputText name="username" class="form-control" [(ngModel)]="users.username" placeholder="Username" autocomplete="username" required>
                            </div>
                            <div class="p-inputgroup p-mb-4">
                                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                <input type="password" pInputText name="password" class="form-control" [(ngModel)]="users.password" placeholder="Password" autocomplete="current-password" required>         
                            </div>
                            <div class="p-text-center">
                                <button type="button" (click)="loginUser()" pButton class="pButton">Login</button>
                            </div>
                            <div class="p-d-flex p-jc-between">
                            <button pButton label="Register Now" class="p-button-text" routerLink="/register" ></button>
                            <button pButton label="Forgot Password?" class="p-button-text" ></button>
                            </div>
                            <div class="p-text-center p-my-3">OR</div>
                            <div class="p-inputgroup p-mb-3">
                                <span class="p-inputgroup-addon"><i class="pi pi-mobile"></i></span>
                                <input type="text" pInputText name="otpInput" class="form-control" [(ngModel)]="otpInput" placeholder="Mobile / Username / Email" autocomplete="otpInput" required>
                            </div> 
                            <div class="p-text-center p-my-2">
                                <button pButton type="button" class="pButton p-col-12 p-text-center" (click)="loginUser()" label="Send OTP"></button>
                            </div>
                        </form>
                    </div> 
                </div>