<!-- <div class="p-card" style="width:50%;">
    <div class="card-body">
        <form name="userFeedback" #value="ngForm" (ngSubmit)="onSubmit()">
            <div class="p-grid p-flex-column">
                <div class="p-col">
                    <h5>Rating</h5>
                    <p-rating name="rating" #rating="ngModel" [(ngModel)]="userFeedback.rating" [cancel]="false" required></p-rating>
                    <div *ngIf="rating.touched && rating.invalid && value.submitted"> <small class="p-error p-error-danger" *ngIf="rating.errors.required">Please rate us.</small> </div>
                </div>
                <div class="p-col">
                    <h5>Your Review</h5>
                    <textarea name="opinion" #opText="ngModel" [(ngModel)]="userFeedback.opinionText" rows="5" cols="30" style="width: 100%;" pInputTextarea required></textarea>
                    <div *ngIf="opText.touched && opText.invalid && value.submitted"> <small class="p-error p-error-danger" *ngIf="opText.errors.required">Please write your opinion.</small> </div>
                </div>
                <div class="p-col">
                    <h5>Give your review a title</h5>
                    <span class="p-input-icon-right">
                    <i class="pi pi-pencil"></i>
                    <input name="titleText" #rTitle="ngModel" [(ngModel)]="userFeedback.reviewTitle" type="text" pInputText required/>
                    <div *ngIf="rTitle.touched && rTitle.invalid && value.submitted"> <small class="p-error p-error-danger" *ngIf="rTitle.errors.required">Please give your opinion a title.</small> </div>
                </span>
                </div>
                <div class="p-grid">
                    <div class="p-col-fixed" style="width: 25px;">
                        <p-checkbox name="chkbox" [(ngModel)]="terms" inputId="termsCond" required></p-checkbox>
                    </div>
                    <div class="p-col">
                        <label for="termsCond">
                        I confirm this review is about my own genuine experience. I am eligible to leave
                        this review, and have not been offered any incentive or payment to leave a review for this company.
                    </label>
                    </div>
                </div>
                <div class="p-col">
                    <p-button [disabled]="disableBTN" label="Post Your Review" icon="pi pi-check" iconPos="left"></p-button>
                </div>
            </div>
        </form>
    </div>
</div> -->





<p-dialog header="Add Review" [(visible)]="displayDialog" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <ng-template pTemplate="content">
        <div class="p-grid p-flex-column">
            <div class="p-field p-col">
                <h5>Rating</h5>
                <p-rating name="rating" #rating="ngModel" [(ngModel)]="userFeedback.rating" [cancel]="false" required>
                </p-rating>
            </div>
            <div class="p-field p-col">
                <h5>Your Review</h5>
                <textarea name="opinion" #opText="ngModel" [(ngModel)]="userFeedback.opinionText" rows="5" cols="30" style="width: 100%;" pInputTextarea required></textarea>
                <!-- <small id="username-help" class="p-error"></small> -->
            </div>
            <div class="p-field p-col">
                <h5>Give your review a title</h5>
                <span class="p-input-icon-right">
                    <i class="pi pi-pencil"></i>
                    <input name="titleText" #rTitle="ngModel" [(ngModel)]="userFeedback.reviewTitle" type="text"
                        pInputText required />
                </span>
            </div>
            <div class="p-field p-grid">
                <div class="p-col-fixed" style="width: 25px;">
                    <p-checkbox name="chkbox" [(ngModel)]="terms" inputId="termsCond" [binary]="true"></p-checkbox>
                </div>
                <div class="p-col">
                    <label for="termsCond">
                        I confirm this review is about my own genuine experience. I am eligible to leave
                        this review, and have not been offered any incentive or payment to leave a review for this
                        company.
                    </label>
                </div>
            </div>
        </div>

        <p-button icon="pi pi-check" (click)="displayDialog=false" label="Post your review" styleClass="p-button-text" (click)="onSubmit(feedback)">
        </p-button>
    </ng-template>
    <!-- <ng-template pTemplate="footer">
        <p-button [disabled]="disableBTN" label="Post Your Review" icon="pi pi-check" iconPos="left"></p-button>
    </ng-template> -->
</p-dialog>
<p-button (click)="showFeedbackDialog()" label="Write your review"></p-button>
<br>
<br>
<div class="p-card" *ngFor="let list of feedbackList" style="width: 50%; margin-bottom: 1.2rem;">
    <div class="card-body">
        <div class="p-grid">
            <span>
                <div class="p-col">
                    <img src="https://png.pngtree.com/png-vector/20190710/ourlarge/pngtree-user-vector-avatar-png-image_1541962.jpg"
                        alt="Sample_User_Icon" style="border-radius: 50%; width:50px">
                </div>
            </span>
            <div class="p-col">
                <div class="box">
                    <section>
                        <b>User Name</b><br><span>Number_of_Reviews</span>
                    </section>
                </div>
            </div>
        </div>
        <hr>
        <div class="p-grid">
            <div class="p-col">
                <p-rating [ngModel]="list.rating" readonly="true" stars="5" [cancel]="false"></p-rating>
            </div>
            <div class="p-jc-end">
                Time Stamp
            </div>
        </div>
        <div class="p-grid p-flex-column">
            <div class="p-col">
                <h5>
                    {{list.reviewTitle}}
                </h5>
            </div>
            <div class="p-col">
                <p>{{list.opinionText}}</p>
            </div>
        </div>
        <hr>
        <div class="p-grid p-jc-star">
            <div class="p-col-2">
                <a href="#"><i class="pi pi-pencil" style="width:1.2rem" id="edit"></i><label
                        for="edit">Reply</label></a>
            </div>
            <div class="p-col-2">
                <a href="#"><i class="pi pi-thumbs-up" style="width:1.2rem" id="edit"></i><label
                        for="edit">Useful</label></a>
            </div>
            <div class="p-col-2">
                <a href="#"><i class="pi pi-share-alt" style="width:1.2rem" id="edit"></i><label
                        for="edit">Share</label></a>
            </div>
        </div>
    </div>
</div>


<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>