<div class="p-card">
    <div class="p-card-body">
        <div class="p-card-title float-center">
            Invoice Details
        </div>
        <div class="p-card-content">
            <div class="p-grid p-flex-column">
                <div class="p-col">Name: {{admin.businessName}}</div>
                <div class="p-col">Address: {{admin.address}}</div>
                <div class="p-col">State: {{admin.state}}</div>
                <div class="p-col">GSTIN No./PAN No:{{admin.gst}}</div>
                <div *ngFor="let item of cartItems.items" class="p-grid p-flex-column">
                    <div class="p-col">
                        Product Name: {{item.name}}
                    </div>
                    <div class="p-col">
                        QTY: {{item.quantity}}
                    </div>
                    <div class="p-col">
                        Rate: {{item.price}}
                    </div>
                    <div class="p-col">
                        GST: {{item.gstCompliance}} <span>%</span>
                    </div>
                    <div class="p-col">
                        GST Amount: {{item.gstPrice | currency:'INR'}}
                    </div>
                </div>
                <div class="p-col">
                    Total: {{cartItems.grossTotal}}
                </div>
            </div>
        </div>
        <div class="p-card-footer p-text-left">
            <div class="p-col">Terms & Condition</div>
            {{admin.termAndCondition}}
        </div>
    </div>
</div>