<div class="" *ngIf="adminData">
   <table class="tblInvoice">
       <tr><td colspan="2" class="p-text-center"><h3 class="p-m-1">Invoice</h3></td></tr>
    <tr><td> 
            <div class="p-col p-py-0"><strong>Name: </strong>{{adminData.businessName}}</div>
            <div class="p-col p-py-0"><strong>Address: </strong>{{adminData.address}}</div>
            <div class="p-col p-py-0"><strong>State: </strong>{{adminData.state}}</div>
            <div class="p-col p-py-0"><strong>GSTIN No./PAN No: </strong>{{adminData.gst}}</div>
 
    </td> <td>
        <img [src]="adminData.restaurentLogo" [alt]="adminData.restaurentLogo" width="120" class="resLogo">
        <div class="p-col p-py-0"><strong>GSTIN: </strong>{{adminData.state}}</div>
        <div class="p-col p-py-0"><strong>Voucher No: </strong>{{adminData.state}}</div>
        <div class="p-col p-py-0"><strong>Date: </strong></div> 
    </td></tr>
</table>
<table class="tblInvoice">
    <thead>
        <tr>
            <th rowspan="2">#</th>
            <th rowspan="2"> Name Of Product</th>
            <th rowspan="2">Qty</th>
            <th rowspan="2">Rate</th>
            <th rowspan="2">Discount</th>
            <th rowspan="2">Non Taxable Value</th>
            <th colspan="2">CGST</th>
            <th colspan="2">SGST</th>
            <th rowspan="2">Total</th>
        </tr>
        <tr>
            <th>Rate</th>
            <th>Amount</th>
            <th>Rate</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of cartItems.orderitems; let i = index;">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td class="text-right">{{item.price}}</td>
            <td class="text-right">0</td>
            <td class="text-right">{{item.price * item.quantity}}</td>
            <td class="text-right">{{item.gstCompliance/2}}</td>
            <td class="text-right">{{item.price * item.quantity * (item.gstCompliance/2) /100}}</td>
            <td class="text-right">{{item.gstCompliance/2}}</td>
            <td class="text-right">{{item.price * item.quantity * (item.gstCompliance/2) /100}}</td>
            <td class="text-right">{{item.price * item.quantity + (item.price * item.quantity * item.gstCompliance /100)}}</td>
        </tr>
        <tr>
            <td colspan="2" class="text-right"><strong>Total</strong></td>            
            <td>{{cartItems.itemCount}}</td>
            <td></td>
            <td>0</td>
            <td class="text-right">{{cartItems.grossTotal | currency : 'INR'}}</td>
            <td  class="text-right"colspan="2">{{cartItems.gstTotal /2  | currency :'INR'}}</td>
            <td colspan="2" class="text-right">{{cartItems.gstTotal /2  | currency :'INR'}}</td>
            <td class="text-right"><strong>{{cartItems.grossTotal + cartItems.gstTotal | currency :'INR'}}</strong></td>
        </tr>
        <tr>
            <td rowspan="3" class="text-center" colspan="7">
                <p class="p-text-bold">Total invoice amount in words</p>
                <!-- <p>{{cartItems.grossTotal + cartItems.gstTotal}}</p> -->
            </td>
            <td colspan="3"> Total Amount : 
            </td> 
            <td>
                <strong>{{cartItems.grossTotal + cartItems.gstTotal | currency :'INR'}}</strong>
            </td>
        </tr>
        <!-- <tr>
            <td colspan="3">Add CGST: <br> Add SGST:</td> 
                <td class="text-right">{{cartItems.gstTotal/2 | currency: 'INR'}}<br>
                    {{cartItems.gstTotal/2 | currency: 'INR'}}
                </td>
        </tr>
        <tr>
            <td colspan="3"> Tax Amount GST: <br> Total Amount:</td>
           <td class="text-right">
            {{cartItems.gstTotal | currency: 'INR'}} <br>
            <strong>{{cartItems.grossTotal + cartItems.gstTotal | currency: 'INR' }}</strong>
           </td>
        </tr> -->
    </tbody>
</table> 
<div class="p-grid p-my-2">
     <div class="p-col-9 smTxt">
        This is an electronically generated purchase bill
<strong>E & O.E.</strong>

     </div>
     <div class="p-col-3 text-right p-text-bold smTxt">
         For, XYZ <br>
         <img [src]="adminData.signature" width="100" [alt]="adminData.businessName">
     </div>
</div>
</div>
