table.tblInvoice {
    padding: 0;
    margin: 0;
    width: 100%;
    border-collapse:collapse;
}
 
table.tblInvoice tr th,table.tblInvoice tr td {
    border: 1px solid #dcdcdc;
    padding: 5px;
    font-size: 12px;
}
.smTxt{
    font-size:12px;
}
.resLogo{
    float:right;
}