<!-- <div class="p-card">
    <div class="p-card-body">
        <div class="p-card-title float-center">
            Invoice Details
        </div>
        <div class="p-card-content">
            <div class="p-grid p-flex-column">
                <div class="p-col">Name: {{admin.businessName}}</div>
                <div class="p-col">Address: {{admin.address}}</div>
                <div class="p-col">State: {{admin.state}}</div>
                <div class="p-col">GSTIN No./PAN No:{{admin.gst}}</div>
                <div *ngFor="let item of cartItems.items" class="p-grid p-flex-column">
                    <div class="p-col">
                        Product Name: {{item.name}}
                    </div>
                    <div class="p-col">
                        QTY: {{item.quantity}}
                    </div>
                    <div class="p-col">
                        Rate: {{item.price}}
                    </div>
                    <div class="p-col">
                        GST: {{item.gstCompliance}} <span>%</span>
                    </div>
                    <div class="p-col">
                        GST Amount: {{item.gstPrice | currency:'INR'}}
                    </div>
                </div>
                <div class="p-col">
                    Total: {{cartItems.grossTotal}}
                </div>
            </div>
        </div>
        <div class="p-card-footer p-text-left">
            <div class="p-col">Terms & Condition</div>
            {{admin.termAndCondition}}
        </div>
    </div>
</div> -->

<div class="">
   <table class="tblInvoice">
    <tr><td> 
            <div class="p-col p-py-0"><strong>Name: </strong>{{admin.businessName}}</div>
            <div class="p-col p-py-0"><strong>Address: </strong>{{admin.address}}</div>
            <div class="p-col p-py-0"><strong>State: </strong>{{admin.state}}</div>
            <div class="p-col p-py-0"><strong>GSTIN No./PAN No: </strong>{{admin.gst}}</div>
 
    </td> <td>
        <div class="p-col p-py-0"><strong>GSTIN: </strong>{{admin.state}}</div>
        <div class="p-col p-py-0"><strong>Voucher No: </strong>{{admin.state}}</div>
        <div class="p-col p-py-0"><strong>Date: </strong></div> 
    </td></tr>
</table>
<table class="tblInvoice">
    <thead>
        <tr>
            <th rowspan="2">#</th>
            <th rowspan="2"> Name Of Product</th>
            <th rowspan="2">Qty</th>
            <th rowspan="2">Rate</th>
            <th rowspan="2">Discount</th>
            <th rowspan="2">Taxable Value</th>
            <th colspan="2">CGST</th>
            <th colspan="2">SGST</th>
            <th rowspan="2">Total</th>
        </tr>
        <tr>
            <th>Rate</th>
            <th>Amount</th>
            <th>Rate</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of cartItems.items; let i = index;">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td class="text-right">{{item.price}}</td>
            <td class="text-right">0</td>
            <td class="text-right">{{item.price * item.quantity}}</td>
            <td class="text-right">{{item.gstCompliance/2}}</td>
            <td class="text-right">{{item.price * item.quantity * (item.gstCompliance/2) /100}}</td>
            <td class="text-right">{{item.gstCompliance/2}}</td>
            <td class="text-right">{{item.price * item.quantity * (item.gstCompliance/2) /100}}</td>
            <td class="text-right">{{item.price * item.quantity + (item.price * item.quantity * item.gstCompliance /100)}}</td>
        </tr>
        <tr>
            <td colspan="2" class="text-right"><strong>Total</strong></td>            
            <td>{{cartItems.itemCount}}</td>
            <td></td>
            <td>0</td>
            <td class="text-right">{{cartItems.grossTotal | currency : 'INR'}}</td>
            <td  class="text-right"colspan="2">{{cartItems.gstTotal /2  | currency :'INR'}}</td>
            <td colspan="2" class="text-right">{{cartItems.gstTotal /2  | currency :'INR'}}</td>
            <td class="text-right"><strong>{{cartItems.grossTotal + cartItems.gstTotal | currency :'INR'}}</strong></td>
        </tr>
        <tr>
            <td rowspan="3" class="text-center" colspan="7">
                <p class="p-text-bold">Total invoice amount in words</p>
                <!-- <p>{{cartItems.grossTotal + cartItems.gstTotal}}</p> -->
            </td>
            <td colspan="3"> Taxable Amount : 
            </td> 
            <td>
                <strong>{{cartItems.grossTotal  | currency: 'INR'}}</strong>
            </td>
        </tr>
        <tr>
            <td colspan="3">Add CGST: <br> Add SGST:</td> 
                <td class="text-right">{{cartItems.gstTotal/2 | currency: 'INR'}}<br>
                    {{cartItems.gstTotal/2 | currency: 'INR'}}
                </td>
        </tr>
        <tr>
            <td colspan="3"> Tax Amount GST: <br> Total Amount:</td>
           <td class="text-right">
            {{cartItems.gstTotal | currency: 'INR'}} <br>
            <strong>{{cartItems.grossTotal + cartItems.gstTotal | currency: 'INR' }}</strong>
           </td>
        </tr>
    </tbody>
</table> 
<div class="p-grid p-my-2">
     <div class="p-col-9 smTxt">
        This is an electronically generated purchase bill
<strong>E & O.E.</strong>

     </div>
     <div class="p-col-3 text-right p-text-bold smTxt">
         For, XYZ
     </div>
</div>
</div>
