<div class="p-card">
    <div class="card-header">
        <p-toolbar class="pToolbar">
            <ng-template pTemplate="left">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                    (click)="openNew()"></button>
                <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger"
                    (click)="deleteSelectedTables()" [disabled]="!selectedTables || !selectedTables.length"
                    pTooltip="Delete Tables" tooltipPosition="bottom"></button>
            </ng-template>
            <ng-template pTemplate="right">
                <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                    class="p-mr-2 p-d-inline-block"></p-fileUpload>
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help my-2"></button>
            </ng-template>
        </p-toolbar>
    </div>
    <div class="card-body">
        <p-table #d2 [value]="tableList" styleClass="p-datatable-customcss" [paginator]="true" [rows]="10"
            [showCurrentPageReport]="true" [(selection)]="selectedDishes" [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th>Name
                        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                    </th>
                    <th>Seat</th>
                    <th>Shape</th>
                    <th>AC / Non AC
                        <p-columnFilter type="text" field="isAc" display="menu"></p-columnFilter>
                        <!-- <p-columnFilter type="text" field="tableShape" display="menu">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="tableShape" (onChange)="filter($event.value)"
                                    placeholder="Any">
                                    <ng-template let-option pTemplate="item">
                                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter> -->
                    </th>
                    <th>Action </th>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="item"></p-tableCheckbox>
                    </td>
                    <td>{{item.name}}</td>
                    <td>{{item.seat}}</td>
                    <td>{{item.shape}}</td>
                    <td>{{item.isAc === true? 'AC': 'Non AC'}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                            (click)="editDish(item)" pTooltip="Edit Table" tooltipPosition="left"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteTable(item)" pTooltip="Delete Table" tooltipPosition="left"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="tableDialog" [style]="{width: '40vw'}" header="Table Configuration" [modal]="true">
    <ng-template pTemplate="content">
        <form name="userForm" #tableForm="ngForm" novalidate (ngSubmit)="saveTableData(tableForm)">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-6">
                    <label for="tableName">Table Name</label>
                    <input type="text" #tableName="ngModel" name="tableName" class="p-inputtext-sm" pInputText
                        id="tableName" [(ngModel)]="table.name" placeholder="Name" required autofocus />
                    <div *ngIf="tableName.touched && tableName.invalid && tableForm.submitted"> <small class="p-error"
                            *ngIf="tableName.errors.required">Table name is required.</small></div>
                </div>
                <div class="p-field p-col-6">
                    <label for="seat">Seat</label>
                    <input type="number" #seat="ngModel" name="seat" class="p-inputtext-sm" pInputText inputId="seat"
                        [(ngModel)]="table.seat" placeholder="Seat" />
                    <!-- <p-inputNumber pInputText #seat="ngModel" [(ngModel)]="table.seat" minlength="6" maxlength="6" mode="decimal"
                                placeholder="Number of Seats " inputId="seat" [useGrouping]="false">
                            </p-inputNumber> -->
                    <div *ngIf="seat.touched && seat.invalid && userForm.submitted"> <small class="p-error"
                            *ngIf="seat.errors.required">Seat number is required.</small></div>
                </div>
                <div class="p-field p-col-6">
                    <label for="shape">Shape</label>
                    <p-dropdown [(ngModel)]="table.shape" class="p-inputtext-sm" #shape="ngModel" name="shape"
                        optionLabel="label" optionValue="value" inputId="shape" [options]="tableShape"
                        placeholder="Select Table Shape" required>
                    </p-dropdown>
                    <div *ngIf="shape.touched && shape.invalid && tableForm.submitted"> <small class="p-error"
                            *ngIf="shape.errors.required">Table shape is required.</small></div>
                </div>
                <div class="p-field p-col-6">
                    <label for="isAC">Hall type</label>
                    <div class="p-formgroup-inline">
                        <div class="p-field-checkbox">
                            <p-radioButton name="hallType" [value]="true" [(ngModel)]="table.isAc" inputId="hallType1">
                            </p-radioButton>
                            <label for="nonVegCategory1">AC</label>
                        </div>
                        <div class="p-field-checkbox">
                            <p-radioButton name="hallType" [value]="false" [(ngModel)]="table.isAc" inputId="hallType2">
                            </p-radioButton>
                            <label for="nonVegCategory2">Non AC</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-card-footer p-text-right">
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button p-button-raised"></button>
                <button pButton pRipple label="Reset" icon="pi pi-refresh" class="p-button-danger p-button-raised"
                    (click)="reset()"></button>
            </div>
        </form>
    </ng-template>
</p-dialog>