<!-- <div class="app  toggled"> -->
<div class="pro-sidebar md" [ngClass]="lblsidebar ? 'collapsed': 'toggled'" (clickOutside)="lblMenuToggle=0">
    <!-- pro-sidebar md collapsed -->
    <div class="pro-sidebar-inner">
        <div class="pro-sidebar-layout">

            <div class="pro-sidebar-content"> 
                <nav class="pro-menu shaped circle">
                    <ul>
                        <ng-container *ngFor="let mItem of navMenu; let i = index;">

                            <li class="pro-menu-item pro-sub-menu" routerLinkActive="active" *ngIf="mItem.subItems.length > 0"
                                (click)="fnToggle(i+1)" [ngClass]="{'open':lblMenuToggle == (i+1)}">
                                <div class="pro-inner-item" role="button" tabindex="0"><span class="pro-icon-wrapper">
                                        <span class="pro-icon"><i class="{{mItem.icon}}"></i></span></span>
                                    <span class="pro-item-content">{{mItem.name}}</span> <span
                                        class="pro-arrow-wrapper"><span class="pro-arrow"></span></span>
                                </div>
                                <div class="react-slidedown pro-inner-list-item"
                                    [ngClass]="{'closed':lblMenuToggle != (i+1)}">
                                    <div>
                                        <ul>
                                            <ng-container *ngFor="let subItem of mItem.subItems">
                                            <li class="pro-menu-item" routerLinkActive="active" 
                                            *ngIf="subItem.access.indexOf(userType) > -1"
                                                [routerLink]="subItem.routing">
                                                <div class="pro-inner-item" tabindex="0" role="button"><span
                                                        class="pro-item-content">{{subItem.name}}</span></div>
                                            </li>                                           

                                        </ng-container>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="pro-menu-item pro-sub-menu" routerLinkActive="active" (click)="lblMenuToggle=0"
                                [routerLink]="mItem.routing" *ngIf="mItem.access.indexOf(userType) > -1 && mItem.subItems.length === 0">
                                <div class="pro-inner-item" role="button" tabindex="0"><span class="pro-icon-wrapper">
                                        <span class="pro-icon"><i class="{{mItem.icon}}"></i></span></span>
                                    <span class="pro-item-content">{{mItem.name}}</span>
                                </div>
                            </li>
                        </ng-container>

                    </ul>
                </nav>
            </div>


        </div>
    </div>
    <div class="overlay" role="button" tabindex="0" aria-label="overlay"></div>
</div>

<!-- </div> -->