<p-toast position="bottom-right"></p-toast>
<div class="p-card p-mb-5 p-align-center mx-auto mt-3" [style]="{width: '40vw'}">
    <div class="p-card-body">
        <form name="registerForm" #registerForm="ngForm" novalidate (ngSubmit)="register(registerForm)">
            <div class="p-card-title text-center">Registeration</div>
            <div class="p-card-subtitle text-center">Enter your details</div>
            <div class="p-grid p-flex-column">
                <div class="p-col-10 mx-auto mt-3">
                    <p-dropdown [(ngModel)]="users.userType" class="p-inputtext-sm" [style]="{width: '100%'}"
                        name="userType" inputId="typeUser" [options]="typeUser" optionLabel="label" optionValue="value"
                        placeholder="Select Login Type" required #category="ngModel">
                        <ng-template let-option pTemplate="item">
                            <span [class]="'dish-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="p-col-10 mx-auto">
                    <input [(ngModel)]="users.name" type="text" class="form-control" placeholder="Name" id="name"
                        name="name" #name="ngModel" required>
                    <div *ngIf="name.touched && name.invalid && name.submitted"> <small class="p-error p-error-danger"
                            *ngIf="name.errors.required">Name is
                            required.</small> </div>
                </div>
                <div class="p-col-10 mx-auto">
                    <input [(ngModel)]="users.userName" type="text" class="form-control" placeholder="Username"
                        id="username" name="username" #username="ngModel" required>
                    <div *ngIf="username.touched && username.invalid && username.submitted"> <small
                            class="p-error p-error-danger" *ngIf="username.errors.required">Username is
                            required.</small> </div>
                </div>
                <div class="p-col-10 mx-auto">
                    <input [(ngModel)]="users.email" type="text" class="form-control" placeholder="Email" id="email"
                        name="email" #email="ngModel" required email>
                    <div *ngIf="email.touched && email.invalid && email.submitted"> <small
                            class="p-error p-error-danger" *ngIf="email.errors.required">Email is required.</small>
                    </div>
                </div>
                <div class="p-col-10 mx-auto">
                    <input maxlength="10" [(ngModel)]="users.contact" class="form-control" placeholder="Mobile"
                        id="mobile" name="mobile" #mobile="ngModel" required>
                    <div *ngIf="mobile.touched && mobile.invalid && mobile.submitted"> <small
                            class="p-error p-error-danger" *ngIf="mobile.errors.required">Mobile Number is
                            required.</small> </div>
                </div>
                <div class="p-col-10 mx-auto">
                    <input [(ngModel)]="users.password" type="password" class="form-control" placeholder="Password"
                        id="password" name="password" #password="ngModel" required>
                    <div *ngIf="password.touched && password.invalid && password.submitted"> <small
                            class="p-error p-error-danger" *ngIf="password.errors.required">Mobile Number is
                            required.</small> </div>
                </div>
            </div>
            <div class="p-card-footer">
                <div class="p-grid p-flex-column">
                    <div class="p-col-8 mx-auto">
                        <button [disabled]="!registerForm.form.valid" pButton pRipple label="Creat account"
                            class="btn btn-block"></button>
                    </div>
                    <div class="p-card-subtitle text-center">Or login with</div>
                    <div class="p-grid p-col-8 mx-auto">
                        <div class="p-col">
                            <button class="btn btn-block btn-facebook" type="button"><i
                                    class="fab fa-facebook-f"></i><span>facebook</span></button>
                        </div>
                        <div class="p-col">
                            <button type="button" class="btn btn-primary btn-social-icon btn-block btn-instagram"><i
                                    class="fab fa-instagram"></i>Instagram</button>
                        </div>
                        <div class="p-col">
                            <button type="button" class="btn btn-danger btn-social-icon btn-block btn-google"><i
                                    class="fab fa-google"></i> Google +</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>