<div class="p-card">
    <p-table #d2 [value]="orderList" responsiveLayout="stack" styleClass="p-datatable-customcss" [paginator]="true"
        [rows]="10" [showCurrentPageReport]="true" [(selection)]="selectedDishes" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>Username
                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                </th>
                <th>Mobile</th>
                <th>Price</th>
                <th>Order Type</th>
                <th>Payment Mode</th>
                <th>Order Status</th>
                <th style="width:26%; text-align: center;">Action </th>
        </ng-template>
        <ng-template pTemplate="body" let-order let-columns="columns">
            <tr>
                <td>
                    <p-tableCheckbox [value]="order"></p-tableCheckbox>
                </td>
                <td><span class="p-column-title">Name</span>{{order.userName}}</td>

                <td>{{order.userMobileNumber}}</td>
                <td>{{order.grossTotal}}</td>
                <td>{{order.deliveryOptionId === 1? 'Home Delivery': 'Take Away'}}</td>
                <td>{{order.paymentMode === 1? 'Cash': 'UPI'}}</td>
                <td>
                    <p-tag
                        [value]="(order.status === 1)? 'Ordered': (order.status === 2)? 'Processing': (order.status === 3)? 'Shipped': (order.status === 4)? 'Delivered': '' "
                        *ngIf="order.status" class="p-text-uppercase"
                        [severity]="order.status =='active' ? 'success':'danger'"></p-tag>
                </td>
                <td>
                    <button [disabled]="order.status != 1" pButton pRipple icon="pi pi-cog"
                        class="p-button-rounded p-button-success p-button-sm" (click)="fnProcessing(order)"
                        pTooltip="Process Order" tooltipPosition="left"></button>

                    <button [disabled]="order.status != 2" pButton pRipple icon="pi pi-envelope"
                        class="p-button-rounded p-button-warning p-button-sm" (click)="fnShipping(order)"
                        pTooltip="Shipping Order" tooltipPosition="left"></button>

                    <button [disabled]="order.status != 3" pButton pRipple icon="pi pi-check"
                        class="p-button-rounded p-button-secondary p-button-sm" (click)="fnCompleted(order)"
                        pTooltip="Complete Order" tooltipPosition="left"></button>

                    <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-primary p-button-sm"
                        (click)="fnViewOrder(order)" pTooltip="View Order" tooltipPosition="left"></button>
                    <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger p-button-sm"
                        (click)="fnCancelOrder(order)" pTooltip="Cancel Order" tooltipPosition="left"></button>
                    <!-- <p-checkbox name="groupname{{order.id}}" [value]="order.selectedDish" [inputId]="order.id" [(ngModel)]="selectedValues" (change)="onCheckboxChange(order.id, $event)"></p-checkbox> -->
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog [(visible)]="orderStatusDialog" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
        [style]="{width: '50vw'}" header="Order Status" [modal]="true">
        <app-order-status *ngIf="orderStatusDialog"></app-order-status>
    </p-dialog>
</div>