<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Dish</strong>
                            <button type="button" class="close" (click)="close()" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                        </div>
                        <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)" class="card-body needs-validation" novalidate>
                            <div class="form-group">
                                <!-- <label for="name">Name</label> -->
                                <input type="text" required ngModel [(ngModel)]="dish.name" class="form-control" name="name" #name="ngModel" placeholder="Enter product Name">
                                <div [hidden]="name.valid || name.pristine" class="invalid-feedback">
                                    Name is required
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <!-- <label for="mainCategory">Category</label> -->
                                    <select [(ngModel)]="dish.mainCategoryId" name="mainCategory" class="form-control"> 
                                <option [ngValue]="0" selected  disabled > Select Category </option>
                                <option *ngFor="let item of categories" [(ngModel)]="item.name" [ngValue]="item.id">{{item.name}}</option>
                                 </select>
                                </div>
                                <div class="form-group col-md-1"><label for="mainCategory">OR</label></div>
                                <div class="form-group col-md-6">
                                    <input type="text" required ngModel [(ngModel)]="dish.mainCategoryName" class="form-control" name="name" #name="ngModel" placeholder="Enter new Category">
                                    <div [hidden]="name.valid || name.pristine" class="invalid-feedback">
                                        Name is required
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    <label for="mainCategory">Non-Veg&nbsp;</label>
                                </div>
                                <div class="form-group">
                                    <label class="switch switch-success ">
                                        <input name="vegNonVeg" type="checkbox" class="switch-input" checked>
                                        <span class="switch-slider"></span> 
                                      </label>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="mainCategory"> Veg</label>
                                </div>
                                <div class="form-group">
                                    <label for="halfFull">Half&nbsp;</label>
                                </div>
                                <div class="form-group">
                                    <label class="switch switch-success ">
                                        <input name="halfFull" type="checkbox" class="switch-input" checked>
                                        <span class="switch-slider"> </span> 
                                      </label>
                                </div>
                                <div class="form-group col-md-1">
                                    <label for="halfFull">Full</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <!-- <label for="price">Price</label> -->
                                    <input type="number" required ngModel [(ngModel)]="dish.price" class="form-control" name="price" #name="ngModel" placeholder="Enter fullf product price">
                                    <div [hidden]="name.valid || name.pristine" class="invalid-feedback">
                                        Name is required
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <!-- <label for="qty">Quantity</label> -->
                                    <input type="number" required ngModel [(ngModel)]="dish.qty" class="form-control" name="qty" #name="ngModel" placeholder="Enter product Quantity">
                                    <div [hidden]="name.valid || name.pristine" class="invalid-feedback">
                                        Name is required
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <label for="description">Description</label> -->
                                <textarea ngModel [(ngModel)]="dish.description" class="form-control" name="description" placeholder="Enter product Description" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid">Submit</button>
                            <button type="button" class="btn btn-success btn-primary" (click)="productForm.resetForm()">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>