<p-toast position="bottom-right"></p-toast>
<div class="p-card">
    <div class="card-header">
        <p-toolbar class="pToolbar">
            <ng-template pTemplate="left">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
                <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedDishes()" [disabled]="!selectedDishes || !selectedDishes.length" pTooltip="Delete Dishes" tooltipPosition="bottom"></button>
            </ng-template>
            <ng-template pTemplate="right">
                <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help my-2"></button>
            </ng-template>
        </p-toolbar>
    </div>
    <div class="card-body">
        <p-table #d2 [value]="dishList" styleClass="p-datatable-customcss" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [(selection)]="selectedDishes" [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="width: 10%;">Name
                        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                    </th>
                    <th style="width:12%;">Image</th>
                    <th>Half Price</th>
                    <th>Full Price</th>
                    <th style="width:16%;">Category
                        <p-columnFilter type="text" field="dishCategory" display="menu"></p-columnFilter>
                    </th>
                    <th>Time for Cook</th>
                    <th>Status
                        <p-columnFilter type="text" field="status" display="menu">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="status" (onChange)="filter($event.value)" placeholder="Any">
                                    <ng-template let-option pTemplate="item">
                                        <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th style="width:14%;">Action </th>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="item"></p-tableCheckbox>
                    </td>
                    <td>{{item.name}}</td>
                    <td>
                        <img src="{{item.imageUrl}}" [alt]="item.name" width="100" class="p-shadow-4" />
                    </td>
                    <!-- <td title="{{item.description}} ">{{item.description}}</td> -->
                    <td>{{item.halfPrice | currency:'INR'}}</td>
                    <td>{{item.fullPrice | currency:'INR'}}</td>
                    <td>{{item.dishCategory}}</td>
                    <td>{{item.timeForCook}} mins</td>
                    <td>
                        <p-tag [value]="item.status" *ngIf="item.status" class="p-text-uppercase" [severity]="item.status =='active' ? 'success':'danger'"></p-tag>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editDish(item)" pTooltip="Edit Dish" tooltipPosition="left"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteDish(item)" pTooltip="Delete Dish" tooltipPosition="left"></button>
                            <!-- <p-checkbox name="groupname{{item.id}}" [value]="item.selectedDish" [inputId]="item.id" [(ngModel)]="selectedValues" (change)="onCheckboxChange(item.id, $event)"></p-checkbox> -->
                        </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<p-dialog [(visible)]="dishDialog" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '80vw'}" header="Dish Configuration" [modal]="true">
    <ng-template pTemplate="content">
        <form name="dishform" #f="ngForm" novalidate (ngSubmit)="onSubmit(f)">
            <!-- <img [src]="'assets/showcase/images/demo/dish/' + dish.image" [alt]="dish.image" class="dish-image" *ngIf="dish.image"> -->
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-6">
                    <label for="name">Dish Name</label>
                    <input type="text" name="name" #name="ngModel" class="p-inputtext-sm" pInputText id="name" [(ngModel)]="dish.name" required autofocus />
                    <div *ngIf="name.touched && name.invalid && f.submitted"> <small class="p-error" *ngIf="name.errors.required">Dish name is required.</small></div>
                </div>
                <div class="p-field p-col-6" style="width: 50vw;">
                    <!-- <p-fileUpload name="dish.imageUrl[]" url="./assets/img" (onUpload)="onUpload($event)" multiple="multiple" accept="image/*" maxFileSize="1000000">
                    <ng-template pTemplate="content">
                        <ul *ngIf="dish.imageUrl.length">0
                            <li *ngFor="let file of dish.imageUrl">{{file.name}} - {{file.size}} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>  -->
                    <p-fileUpload name="imageUploader" customUpload="true" maxFileSize="250000" (uploadHandler)="onUpload($event,dish.id)" multiple="multiple" accept="image/*" maxFileSize="1000000">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>
                <!-- <div class="card"> -->
                <!-- <div>Dish image</div>-->

                <div class="p-field p-col-6">
                    <label for="inventoryStatus">Inventory Status</label>
                    <p-dropdown [(ngModel)]="dish.status" class="p-inputtext-sm" #invStatus="ngModel" name="inventoryStatus" optionLabel="label" optionValue="value" inputId="inventoryStatus" [options]="status" name="statuses" placeholder="Select" required>
                    </p-dropdown>
                    <div *ngIf="invStatus.touched && invStatus.invalid && f.submitted"><small class="p-error" *ngIf="invStatus.errors.required">Inventory Status is required.</small></div>
                </div>
                <div class="p-field p-col-6">
                    <label for="categories">Select Category</label>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editDish(item)" pTooltip="Edit Dish" tooltipPosition="left"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteDish(item)" pTooltip="Delete Dish" tooltipPosition="left"></button>
                    <p-dropdown [(ngModel)]="dish.mainCategoryId" class="p-inputtext-sm" name="dishCategory" inputId="dishCategory" optionLabel="label" optionValue="value" [options]="dishCategory" placeholder="Type for new or Select" required #category="ngModel"></p-dropdown>
                    <div *ngIf="category.touched && category.invalid && f.submitted"><small class="p-error" *ngIf="category.errors.required">Category is required.</small></div>

                </div>
                <!-- <div class="p-field p-col-2 p-pt-5 p-pl-3"><strong>OR</strong></div> -->
                <!-- <div class="p-field p-col-6"> 
                <label for="newCategory">Enter a new category</label>
                <input id="newCategory" name="newCategory" class="p-inputtext-sm" pInputText [disabled]="dish.categories" [(ngModel)]="dish.newCategory">
            </div> -->
                <div class="p-field p-col-4">
                    <div class="p-formgroup-inline">
                        <label for="isVeg">Non-Veg </label>
                        <p-inputSwitch [(ngModel)]="dish.isVeg" name="isVeg" class="p-mx-2"></p-inputSwitch>
                        <label for="isVeg">Veg</label>
                    </div>
                </div>

                <div class="p-field p-col-8">
                    <div class="p-formgroup-inline" [hidden]="dish.isVeg">
                        <div class="p-field-checkbox">
                            <p-radioButton name="nonVegCategory" value="chicken" [(ngModel)]="dish.nonVegCategory" inputId="nonVegCategory1"></p-radioButton>
                            <label for="nonVegCategory1">Chicken</label>
                        </div>
                        <div class="p-field-checkbox">
                            <p-radioButton name="nonVegCategory" value="mutton" [(ngModel)]="dish.nonVegCategory" inputId="nonVegCategory2"></p-radioButton>
                            <label for="nonVegCategory2">Mutton</label>
                        </div>
                        <div class="p-field-checkbox">
                            <p-radioButton name="nonVegCategory" value="seaFood" [(ngModel)]="dish.nonVegCategory" inputId="nonVegCategory3"></p-radioButton>
                            <label for="nonVegCategory3">Sea Food</label>
                        </div>

                    </div>
                </div>
                <div class="p-field p-col-3">
                    <label for="fullPrice">Full dish price</label>
                    <div class="p-inputgroup">
                        <p-inputNumber required id="fullPrice" name="fullPrice" class="p-inputtext-sm" [(ngModel)]="dish.fullPrice"></p-inputNumber>
                    </div>
                </div>

                <div class="p-field p-col-3">
                    <label for="halfPrice">Half dish price {{dish.isHalf}}</label>
                    <div class="p-inputgroup">
                        <p-inputNumber min="0" mode="decimal" id="halfPrice" name="halfPrice" class="p-inputtext-sm" [(ngModel)]="dish.halfPrice"></p-inputNumber>
                    </div>
                </div>
                <div class="p-field p-col-3">
                    <label for="quantity">Quantity</label>
                    <p-inputNumber type="number" class="p-inputtext-sm" name="quantity" id="quantity" [(ngModel)]="dish.quantity"></p-inputNumber>
                </div>
                <div class="p-field p-col-3">
                    <label for="serviceTime">Time for Cook</label>
                    <p-inputNumber type="time" class="p-inputtext-sm" name="timeForCook" id="timeForCook" suffix=" mins" [(ngModel)]="dish.timeForCook"></p-inputNumber>
                </div>
                <div class="p-field p-col-12">
                    <label for="description">Description</label>
                    <textarea id="description" #desc="ngModel" name="description" pInputTextarea [(ngModel)]="dish.description" required rows="3" cols="20"></textarea>
                    <div *ngIf="desc.touched && desc.invalid && f.submitted"><small class="p-error" *ngIf="desc.errors.required">Description is required.</small></div>

                </div>
            </div>
            <div class="p-d-flex p-jc-end">
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button p-button-raised p-mx-1"></button>
                <button pButton pRipple label="Cancel" type="reset" icon="pi pi-times" class="p-button-danger p-button-raised" (click)="hideDialog()"></button>
            </div>
        </form>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>