<p-toast></p-toast>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <p-toolbar class="pToolbar">
                    <ng-template pTemplate="left">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
                        <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedDishes()" [disabled]="!selectedDishes || !selectedDishes.length"></button>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
                        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help my-2"></button>
                    </ng-template>
                </p-toolbar>
            </div>
            <div class="card-body">
                <p-table #d2 [value]="dishList" styleClass="p-datatable-customcss" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [(selection)]="selectedDishes" [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10,25,50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th style="width: 10%;">Name
                                <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                            </th>
                            <th style="width:12%;">Image</th>
                            <th style="width:17%;">Description
                                <p-columnFilter type="text" field="description" display="menu"></p-columnFilter>
                            </th>
                            <th>Half Price</th>
                            <th>Full Price</th>
                            <th style="width:16%;">Category
                                <p-columnFilter type="text" field="mainCategoryName" display="menu"></p-columnFilter>
                            </th>
                            <th>Time for service</th>
                            <th style="width:14%;">Action </th>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="item"></p-tableCheckbox>
                            </td>
                            <td>{{item.name}}</td>
                            <td>
                                <img src="{{item.imageUrl}}" [alt]="item.name" width="100" class="p-shadow-4" />
                            </td>
                            <td title="{{item.description}} ">
                                <!-- {{( (item.description.length >6)? (item.description | slice:0:6)+'..':(item.description)) }} -->
                                {{item.description}}
                            </td>
                            <td>{{item.halfPrice | currency:'INR'}}</td>
                            <td>{{item.fullPrice | currency:'INR'}}</td>
                            <td>{{item.categories}}</td>
                            <td>{{item.serviceTime}}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editDish(item)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteDish(item)"></button>
                                <!-- <p-checkbox name="groupname{{item.id}}" [value]="item.selectedDish" [inputId]="item.id" [(ngModel)]="selectedValues" (change)="onCheckboxChange(item.id, $event)"></p-checkbox> -->
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="dishDialog" [style]="{width: '550px'}" header="Dish Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <img [src]="'assets/showcase/images/demo/dish/' + dish.image" [alt]="dish.image" class="dish-image" *ngIf="dish.image">
        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="dish.name" required autofocus/>
            <small class="p-error" *ngIf="submitted && !dish.name">Name is required.</small>
        </div>
        <!-- <div class="card"> -->
        <div>Dish image</div>
        <p-fileUpload name="dish.imageUrl[]" url="./assets/img" (onUpload)="onUpload($event)" multiple="multiple" accept="image/*" maxFileSize="1000000">
            <ng-template pTemplate="content">
                <ul *ngIf="dish.imageUrl.length">
                    <li *ngFor="let file of dish.imageUrl">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
        <div class="p-field">
            <label for="inventoryStatus">Inventory Status</label>
            <p-dropdown [(ngModel)]="dish.statuses" inputId="inventoryStatus" [options]="statuses" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'dish-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="p-field">
            <label for="inventoryStatus">Select Category</label>
            <p-dropdown [(ngModel)]="dish.categories" [disabled]="dish.newCategory" inputId="inventoryStatus" [options]="categories" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'dish-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
            <div style="text-align:center"><strong>OR</strong></div>
            <div class="p-field p-col">
                <label for="newCategory">Enter a new category</label>
                <input id="newCategory" pInputText [disabled]="dish.categories" [(ngModel)]="dish.newCategory">
            </div>
        </div>
        <!-- form-row col-sm-12 -->
        <div style="display: flex; flex-direction: row;" class="p-formgrid p-grid"> 
            <div class="p-field p-col">
                <label for="mainCategory">Non-Veg&nbsp;</label>
            </div>
            <div class="p-field p-col">
                <label class="switch switch-success">
                    <input type="checkbox" class="switch-input" (change)="checkClicked(test)" checked>
                    <span class="switch-slider"></span>
                </label>
            </div>
            <div class="p-field p-col">
                <label for="mainCategory"> Veg</label>
            </div>
            <div style="display: flex; flex-direction: row; justify-content:space-evenly;" class="form-group col-sm-5">
                <section>
                    <input class="form-check-input" [(ngModel)]="dish.isFull" (change)="chkFullevent()" type="checkbox" name="chkFull" value="full" [checked]="true">
                    <label class="form-check-label" for="chkFull">Full</label>
                </section>
                <section>
                    <input class="form-check-input" [(ngModel)]="dish.isHalf" (change)="chkHalfevent()" type="checkbox" name="chkHalf" value="half" [checked]="true">
                    <label class="form-check-label" for="chkHalf">Half</label>
                </section>
            </div>
        </div>
        <section>
            <div style="display: flex; flex-direction: row; justify-content: space-between; margin-left: 20px;" [hidden]="test" class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-field p-col">
                    <p-radioButton name="nonVegCategory" value="chicken" [(ngModel)]="dish.nonVegCategory" inputId="nonVegCategory1"></p-radioButton>
                    <label for="vegNonVeg1">Chicken</label>
                </div>
                <div class="p-field-radiobutton p-field p-col">
                    <p-radioButton name="nonVegCategory" value="mutton" [(ngModel)]="dish.nonVegCategory" inputId="nonVegCategory2"></p-radioButton>
                    <label for="vegNonVeg2">Mutton</label>
                </div>
                <div class="p-field-radiobutton p-field p-col">
                    <p-radioButton name="nonVegCategory" value="seaFood" [(ngModel)]="dish.nonVegCategory" inputId="nonVegCategory3"></p-radioButton>
                    <label for="vegNonVeg3">Sea Food</label>
                </div>
            </div>
        </section>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="fullPrice">Enter full dish price</label>
                <p-inputNumber id="price" ngModel [(ngModel)]="dish.fullPrice" [disabled]="!dish.isFull"></p-inputNumber>
            </div>
            <div class="p-field p-col">
                <label for="halfPrice">Enter half dish price</label>
                <p-inputNumber id="quantity" [disabled]="!dish.isHalf" ngModel [(ngModel)]="dish.halfPrice"></p-inputNumber>
            </div>
        </div>
        <!-- <div class="p-field">
            <label class="p-mb-3">Category</label>
            <div class="p-formgrid p-grid">
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category1" name="category" value="Accessories" [(ngModel)]="dish.category"></p-radioButton>
                    <label for="category1">Accessories</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category2" name="category" value="Clothing" [(ngModel)]="dish.category"></p-radioButton>
                    <label for="category2">Clothing</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category3" name="category" value="Electronics" [(ngModel)]="dish.category"></p-radioButton>
                    <label for="category3">Electronics</label>
                </div>
                <div class="p-field-radiobutton p-col-6">
                    <p-radioButton id="category4" name="category" value="Fitness" [(ngModel)]="dish.category"></p-radioButton>
                    <label for="category4">Fitness</label>
                </div>
            </div>-->
        <!-- </div> -->

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="quantity">Quantity</label>
                <p-inputNumber type="number" id="quantity" [(ngModel)]="dish.quantity"></p-inputNumber>
            </div>
            <div class="p-field p-col">
                <label for="serviceTime">Time for service</label>
                <p-inputNumber type="time" id="serviceTime" [(ngModel)]="dish.serviceTime"></p-inputNumber>
            </div>
        </div>
        <div class="p-field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="dish.description" required rows="3" cols="20"></textarea>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveDish()"></button>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>