<header>
    <div class="headerWrap">
        <div class="p-grid p-nogutter">
            <div class="p-col-6">
                <img src="assets/img/brand/logo.jpg" width="60" alt="FY5 Company">
            </div>
            <div class="p-col-6 p-text-right"> 
                <div class="profilWrap ">
                <p-avatar icon="pi pi-user"></p-avatar> 
                <ul class="dropdownMenu">
                    <li><a>Profile</a></li>
                    <li><a>Setting</a></li>
                    <li><a>Orders</a></li>
                    <li><a (click)="fnLogout()">Logout</a></li>
                    
                </ul>
                </div>
            </div>
        </div>
    </div>
</header>