<header>
    <div class="headerWrap">
        <div class="p-grid p-nogutter">
            <div class="p-col-6 p-d-flex p-align-center">
                <img src="assets/img/brand/logo.jpg" class="logo" width="60" alt="FY5 Company">
                <span class="hamBurgerIcn" *ngIf="authService.loggedIn()" (click)="fnhmBurgerClick()"><i class="pi pi-bars"></i></span>
            </div>
            <div class="p-col-6 p-text-right"> 
                <div class="profilWrap p-mr-4 p-mt-2" (clickOutside)="lbluserProfleShow=false">
                <p-avatar icon="pi pi-user" (click)="fnToggleUProfile()" *ngIf="authService.loggedIn()"></p-avatar> 
                <ul class="dropdownMenu"*ngIf="lbluserProfleShow">
                    <li class="dropdownHeader">Account</li>
                    <li><a routerLink="/hotel-admin"><i></i>Profile</a></li>
                    <li><a routerLink="/settings">Setting</a></li>
                    <li><a routerLink="/dish/order-list">Orders</a></li>
                    <li><a (click)="fnLogout()">Logout</a></li>
                    
                </ul>
                </div>
            </div>
        </div>
    </div>
</header>