<div *ngIf="cartItems?.orderitems.length > 0">
    <ul class="ulCart">
        <li class="cart-item" *ngFor="let item of cartItems.orderitems">
            <span>{{ item.name }} <span>{{item.isFull ? '' : '(Half)'}}</span></span>
            <span class="btnPlusMinusWrap">
                <!-- <i class="pi pi-minus"></i>  -->
                <button pButton type="button" icon="pi pi-minus" (click)="removeItem(item)"
                    class="p-button-secondary p-button-sm p-button-text-only p-button-text" iconPos="left"></button>

                <span class="quantity text-success">{{item.quantity}} </span>
                <!-- <i class="pi pi-plus text-success"></i> -->
                <button pButton type="button" icon="pi pi-plus" (click)="addItem(item)"
                    class="p-button-success p-button-sm p-button-text-only p-button-text" iconPos="left"></button>

            </span>

            <span>{{ item.quantity * item.price | currency:'INR':true }}</span>
        </li>
        <li>
            <div class="p-flex-md-row">
                <div class="p-col">
                    <!-- <input pInputNumber [(ngModel)]="cartItems.discountInPercent" class="p-inputtext-sm" suffix=" %"  type="text" placeholder="Enter Discount in %"> -->
                    <p-inputNumber class="p-inputtext-sm" name="discount" id="discount" prefix="%" mode="decimal"
                        [useGrouping]="false" placeholder="Enter Discount in %"
                        [(ngModel)]="cartItems.discountInPercent" [minFractionDigits]="2" (change)="onInput($event.target.value)">
                    </p-inputNumber>
                </div>
                <span>{{cartItems.discountInRupees}}</span>
                <div class="p-col">
                    <p-inputNumber [(ngModel)]="cartItems.additionalAmount" class="p-inputtext-sm" mode="currency"
                        placeholder="Enter Additional amount" currency="INR" locale="en-IN">
                    </p-inputNumber>
                </div>
            </div>
        </li>
        <li>
            <div class="p-d-flex p-jc-between p-m-0"><span>GST</span> {{cartItems.gstTotal | currency:'INR': true}}
            </div>
            <div class="p-d-flex p-jc-between gTotP"><span> Total</span>{{cartItems.grossTotal | currency:'INR':true}}
            </div>
        </li>
    </ul>
    <div class="btnWrap">
        <button [disabled]="!selectedUserId || userData.userType === 3" pButton type="button" label="Make Payment"
            (click)="fnMakePayment($event)" class="p-button-sm p-button-success"></button>
        <button pButton type="button" label="Empty Cart" (click)="emptyCart()"
            class="p-button-sm p-button-danger"></button>
    </div>

</div>

<p *ngIf="cartItems?.orderitems.length == 0">Order some yummy and delicious food from menu!</p>