<div class="p-card-content">
    <form name="userForm" #userForm="ngForm" novalidate (ngSubmit)="saveUser(userForm)"></form>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-6">
            <label for="userName">Name</label>
            <input type="text" #name="ngModel" name="userName" class="p-inputtext-sm" pInputText id="userName"
                [(ngModel)]="user.userName" placeholder="Name" required autofocus />
            <!-- <small class="p-error" *ngIf="submitted && !user.userName">Name is required.</small> -->
            <div *ngIf="name.touched && name.invalid && userForm.submitted"> <small class="p-error"
                    *ngIf="name.errors.required">User name is required.</small></div>
        </div>
        <div class="p-field p-col-6">
            <label for="email">Email</label>
            <input type="email" #email="ngModel" name="email" class="p-inputtext-sm" pInputText id="email"
                [(ngModel)]="user.email" placeholder="Email" required autofocus />
            <!-- <small class="p-error" *ngIf="submitted && !user.email">Email is required.</small> -->
            <div *ngIf="email.touched && email.invalid && userForm.submitted"> <small class="p-error"
                    *ngIf="email.errors.required">User email is required.</small></div>
        </div>
        <div class="p-field p-col-6">
            <label for="contact">Contact</label>
            <input pInputText [(ngModel)]="user.contact" #contact="ngModel" mode="decimal" maxlength="10"
                inputId="contact" placeholder="Contact" required autofocus />
            <!-- <small class="p-error" *ngIf="submitted && !user.contact">Contact is required.</small><br> -->
            <div *ngIf="contact.touched && contact.invalid && userForm.submitted"> <small class="p-error"
                    *ngIf="contact.errors.required">User Contact is required.</small></div>
            <label for="state">State</label>
            <p-dropdown inputId="state" name="state" [options]="states" [(ngModel)]="user.stateId" placeholder="State"
                optionLabel="label" optionValue="value"></p-dropdown>
        </div>
        <div class="p-field p-col-6">
            <label for="address">Address</label>
            <textarea #address="ngModel" rows="4" cols="30" id="address" [(ngModel)]="user.address" pInputTextarea
                autoResize="autoResize" placeholder="Address" required autofocus></textarea>
            <!-- <small class="p-error" *ngIf="submitted && !user.address">Address is required.</small> -->
            <div *ngIf="address.touched && address.invalid && userForm.submitted"> <small class="p-error"
                    *ngIf="address.errors.required">User Address is required.</small></div>
        </div>
        <div class="p-field p-col-6">
            <label for="city">City</label>
            <p-dropdown #city="ngModel" inputId="cities" name="city" [options]="cities" [(ngModel)]="user.cityId"
                placeholder="City" optionLabel="label" optionValue="value"></p-dropdown>
        </div>
        <div class="p-field p-col-6">
            <label for="pincode">Pincode</label>
            <p-inputNumber #pincode="ngModel" [(ngModel)]="user.pinCode" minlength="6" maxlength="6" mode="decimal"
                placeholder="Pincode " inputId="pincode" [useGrouping]="false">
            </p-inputNumber>
            <div *ngIf="pincode.touched && pincode.invalid && userForm.submitted"> <small class="p-error"
                    *ngIf="pincode.errors.required">User Address is required.</small></div>
        </div>
    </div>
    <div class="p-card-footer p-text-right">
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button p-button-raised"></button>
        <button pButton pRipple label="Reset" icon="pi pi-refresh" class="p-button-danger p-button-raised"
            (click)="reset()"></button>
    </div>
</div>