<div class="p-card">
    <div class="p-grid">
        <div class="p-col-9">
            <p-dataView #dv [value]="dishes" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField"
                [sortOrder]="sortOrder" layout="list">
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
                            (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Search by Name"
                                (input)="dv.filter($event.target.value)">
                        </span>
                        <p-dropdown [options]="dishCategory" [(ngModel)]="categories" placeholder="Sort By Category"
                            (onChange)="onCategoryChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>

                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>
                <ng-template let-dish pTemplate="listItem">
                    <div class="p-col-12" *ngIf="dish.status === 'active'">
                        <div class="product-list-item">
                            <div class="imgWrap">
                                <img [src]="dish.imageUrl" alt="{{dish.name}}">
                                <span class="icnBookmark" (click)="fnBookmarkMenu(dish)"
                                    [ngClass]="{'bMarked':dish.bookmark}"><i class="pi pi-bookmark"></i></span>
                                <div class="mAvailibility" [ngClass]="dish.statuses === 'active' ? '': 'unavailable'">
                                    <span>{{dish.statuses === 'active' ? 'Available':'Unavailable'}}</span>
                                </div>
                            </div>

                            <div class="product-list-detail">

                                <div class="product-name"><span class="vegSymbol p-mr-1"
                                        [ngClass]="dish.isVeg ? 'txtSuccess':'txtDanger'"> <i
                                            class="pi pi-circle-on"></i></span>{{dish.name}}</div>
                                <div class="product-description">{{dish.description}}</div>
                                <!-- <p-rating [ngModel]="dish.rating" [readonly]="true" [cancel]="false"></p-rating> -->
                                <div>
                                    <p-tag [value]="dish.rating ? dish.rating : 0" icon="pi pi-star" severity="success">
                                    </p-tag>
                                    <span class="voteTxt">{{dish.rating ? 1 : 0}} votes</span>
                                </div>
                                <i class="pi pi-tag product-category-icon"></i><span
                                    class="product-category">{{dish.categories}}</span>
                            </div>
                            <div class="product-list-action">
                                <span class="product-price">{{(dish.isFull ? dish.fullPrice : dish.halfPrice )|
                                    currency:'INR'}}</span>
                                <div *ngIf="dish.halfPrice !== 0 && dish.fullPrice !== 0" class="p-field">
                                    <div class="p-formgroup-inline">
                                        <label for="isFullStatus">Half </label>
                                        <p-inputSwitch [(ngModel)]="dish.isFull" name="isFullStatus"
                                            class="p-mx-2">
                                        </p-inputSwitch>
                                        <label for="isFullStatus">Full</label>
                                    </div>
                                </div>
                                <p-button icon="pi pi-shopping-cart" styleClass="p-button-sm" label="Add to Cart"
                                    (click)="fnAddtoCart(dish)" [disabled]="dish.statuses === 'OUTOFSTOCK'"></p-button>
                                <div class="timeTxt"><i class="pi pi-clock p-mr-1"></i> {{dish.timeForCook}} mins</div>

                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template let-dish pTemplate="gridItem">
                    <div class="p-col-12 p-md-4" *ngIf="dish.status === 'active'">
                        <div class="product-grid-item card">
                            <div class="product-grid-item-top">
                                <div>
                                    <i class="pi pi-tag product-category-icon"></i>
                                    <span class="product-category">{{dish.categories}}</span>
                                </div>
                                <div class="timeTxt"><i class="pi pi-clock p-mr-1"></i> {{dish.timeForCook}} mins</div>
                                <!-- <span [class]="'product-badge status-' + dish.statuses.toLowerCase()">{{dish.statuses}}</span> -->
                            </div>
                            <div class="product-grid-item-content">
                                <div class="p-mb-2 imgWrap">
                                    <img [src]="dish.imageUrl" alt="{{dish.name}}">
                                    <span class="icnBookmark" (click)="fnBookmarkMenu(dish)"
                                        [ngClass]="{'bMarked':dish.bookmark}"><i class="pi pi-bookmark"></i></span>
                                    <div class="mAvailibility"
                                        [ngClass]="dish.statuses === 'active' ? '': 'unavailable'"><span>{{dish.statuses
                                            === 'active' ? 'Available':'Unavailable'}}</span></div>
                                </div>
                                <div class="product-name"><span class="vegSymbol p-mr-1"
                                        [ngClass]="dish.isVeg ? 'txtSuccess':'txtDanger'"> <i
                                            class="pi pi-circle-on"></i></span>{{dish.name}}</div>
                                <div class="product-description">{{dish.description}}</div>
                                <!-- <p-rating [ngModel]="dish.rating" [readonly]="true" [cancel]="false"></p-rating> -->
                                <div class="p-mb-1">
                                    <p-tag [value]="dish.rating ? dish.rating : 0" icon="pi pi-star" severity="success">
                                    </p-tag>
                                    <span class="voteTxt">{{dish.rating ? 1 : 0}} votes</span>
                                </div>
                            </div>
                            <div class="product-grid-item-bottom">
                                <span class="product-price">{{dish.fullPrice | currency:'INR'}}</span>

                                <p-button styleClass="p-button-sm" icon="pi pi-shopping-cart"
                                    (click)="fnAddtoCart(dish)" [disabled]="dish.statuses === 'OUTOFSTOCK'"
                                    pTooltip="Bookmark Dish" tooltipPosition="bottom"></p-button>
                            </div>
                            <div *ngIf="dish.halfPrice !== 0 && dish.fullPrice !== 0" class="p-field">
                                <div class="p-formgroup-inline">
                                    <label for="isFullStatus">Half </label>
                                    <p-inputSwitch [(ngModel)]="dish.isFull" name="isFullStatus"
                                        class="p-mx-2">
                                    </p-inputSwitch>
                                    <label for="isFullStatus">Full</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </p-dataView>
        </div>
        <div class="p-col-3">
            <div class="cartHeader">
                Cart orderitems
            </div>
            <div class="cartContent">
                <div class="p-d-flex p-ai-center pborder">
                    <!-- <label for="userName">User Name:</label> -->
                    <span *ngIf="userData.userType === 3">{{userData.username}}</span>
                    <p-dropdown (onChange)="userSelection(user)" *ngIf="userData.userType === 1 || userData.userType === 2"
                        class="p-mr-4 p-inputtext-sm" id="userName" [options]="user" [(ngModel)]="selectedUser"
                        placeholder="Search for Number" optionLabel="label" optionValue="value" [filter]="true"
                        [showClear]="true" filterBy="label"></p-dropdown>
                    <button (click)="sendToDish()" *ngIf="userData.userType === 1 || userData.userType === 2" pButton
                        pRipple label="" icon="pi pi-plus" class="p-button-success p-mr-2 p-button-sm my-2"
                        pTooltip="Add new user" (click)="openNew()"></button>
                </div>
                <app-card-details (fnBillingModal)="fnMakePayment($event)"></app-card-details>
            </div>
        </div>
    </div>
</div>

<p-toast position="bottom-right"></p-toast>
<p-dialog [(visible)]="userDialog" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
    header="User Configuration" [modal]="true">
    <app-user-form [user]="user" *ngIf="userDialog"></app-user-form>
</p-dialog>
<p-dialog [(visible)]="billingDialog" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
    header="Billing Details" [modal]="true" [maximizable]="true" [resizable]="true">
    <!-- <app-invoice *ngIf="admin" [adminData]="admin"></app-invoice> -->
    <app-billing *ngIf="billingDialog" [adminData]="admin" [shoppingCart]="shoppingCart">
    </app-billing>
</p-dialog>
<!-- <p-dialog>
    <app-billing *ngIf="billingDialog" [adminData]="admin"></app-billing>
</p-dialog> -->