<div class="card">
    <p-dataView #dv [value]="dishes" [paginator]="true" [rows]="9" filterBy="name"
        [sortField]="sortField" [sortOrder]="sortOrder" layout="list">
        <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
                <span class="p-input-icon-left p-mb-2 p-mb-md-0">
                    <i class="pi pi-search"></i>
                    <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                </span>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </ng-template>
        <ng-template let-dish pTemplate="listItem">
            <div class="p-col-12">
                <div class="product-list-item">
                   
                    <div class="">
                        <img [src]="dish.imageUrl" alt="{{dish.name}}">
                       
                    <div class="mAvailibility" [ngClass]="dish.statuses === 'active' ? '': 'unavailable'"><span>{{dish.statuses === 'active' ? 'Available':'Unavailable'}}</span></div>
                    </div>

                    <div class="product-list-detail">
                        
                        <div class="product-name"><span class="vegSymbol p-mr-1" [ngClass]="dish.isVeg ? 'txtSuccess':'txtDanger'"> <i class="pi pi-circle-on"></i></span>{{dish.name}}</div>
                        <div class="product-description">{{dish.description}}</div>
                        <p-rating [ngModel]="dish.rating" [readonly]="true" [cancel]="false"></p-rating>
                        <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{dish.categories}}</span>
                    </div>
                    <div class="product-list-action">
                        <span class="product-price">{{dish.fullPrice | currency:'INR'}}</span>
                        <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="dish.statuses === 'OUTOFSTOCK'"></p-button>
                        <!-- <span [class]="'product-badge status-' + dish.statuses.toLowerCase()">{{dish.statuses}}</span> -->

                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-dish pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
                <div class="product-grid-item card">
                    <div class="product-grid-item-top">
                        <div>
                            <i class="pi pi-tag product-category-icon"></i>
                            <span class="product-category">{{dish.categories}}</span>
                        </div>
                        <!-- <span [class]="'product-badge status-' + dish.statuses.toLowerCase()">{{dish.statuses}}</span> -->
                    </div>
                    <div class="product-grid-item-content">
                        <div class="p-mb-2">
                            <img [src]="dish.imageUrl" alt="{{dish.name}}">
                           
                        <div class="mAvailibility" [ngClass]="dish.statuses === 'active' ? '': 'unavailable'"><span>{{dish.statuses === 'active' ? 'Available':'Unavailable'}}</span></div>
                        </div>                        <div class="product-name"><span class="vegSymbol p-mr-1" [ngClass]="dish.isVeg ? 'txtSuccess':'txtDanger'"> <i class="pi pi-circle-on"></i></span>{{dish.name}}</div>
                        <div class="product-description">{{dish.description}}</div>
                        <p-rating [ngModel]="dish.rating" [readonly]="true" [cancel]="false"></p-rating>
                    </div>
                    <div class="product-grid-item-bottom">
                        <span class="product-price">{{dish.fullPrice | currency:'INR'}}</span>
                        <p-button icon="pi pi-shopping-cart" [disabled]="dish.statuses === 'OUTOFSTOCK'"></p-button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>