<p-toast position="bottom-right"></p-toast>
<div class="p-card p-p-2">
    <div class="p-card-header">
        <label for="userName">User Name:</label><span *ngIf="userData.userType === 3">{{userData.username}}</span>
        <p-dropdown *ngIf="userData.userType === 1 || userData.userType === 2" class="p-mr-4" id="userName"
            [options]="users" [(ngModel)]="selectedUser" placeholder="Select a User" optionLabel="label"
            optionValue="value" [showClear]="true"></p-dropdown>{{selectedUser}}
        <button *ngIf="userData.userType === 1 || userData.userType === 2" pButton pRipple label="New" icon="pi pi-plus"
            class="p-button-success p-mr-2" pTooltip="Add new user" (click)="openNew()"></button>
    </div>
    <div *ngIf="cartItems?.items.length > 0">
        <div class="p-grid checkoutGrid" *ngFor="let item of cartItems.items">
            <div class="p-col-2"> <img [src]="item.image" alt="{{item.name}}"></div>
            <div class="p-col-4">
                <h1>{{ item.name }}</h1>
                <p class="text-muted">{{item.description}}</p>
            </div>
            <div class="p-col-3"><span class="quantity text-success">{{item.quantity}} X {{item.price}}</span></div>
            <div class="p-col-3 text-right"><span class="itemTotal">{{ item.quantity * item.price | currency:'INR':true
                    }}</span></div>
        </div>
        <div class="btnWrap">
            <button pButton type="button" label="Back to Menu" routerLink="/dish/dish-menu"
                class="p-button-sm p-mr-4"></button>
            <button pButton type="button" label="Make Payment" routerLink="/dish/dish-menu" routerLink="/billing"
                class="p-button-sm p-button-success p-mr-4"></button>
            <span>Total:</span>
            {{cartItems.grossTotal | currency:'INR':true}}
        </div>

    </div>

    <p *ngIf="cartItems?.items.length == 0">Place the order first! <a class="link" routerLink="/dish-menu"> click here
        </a>to visit dish menu page.</p>

</div>

<p-dialog [(visible)]="userDialog" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}"
    header="User Configuration" [modal]="true">
    <ng-template pTemplate="content">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-6">
                <label for="userName">Name</label>
                <input type="text" name="userName" class="p-inputtext-sm" pInputText id="userName"
                    [(ngModel)]="user.userName" placeholder="Name" required autofocus />
                <small class="p-error" *ngIf="submitted && !user.userName">Name is required.</small>
            </div>
            <div class="p-field p-col-6">
                <label for="email">Email</label>
                <input type="email" name="email" class="p-inputtext-sm" pInputText id="email" [(ngModel)]="user.email"
                    placeholder="Email" required autofocus />
                <small class="p-error" *ngIf="submitted && !user.email">Email is required.</small>
            </div>
            <div class="p-field p-col-6">
                <label for="contact">Contact</label>
                <input pInputText [(ngModel)]="user.contact" mode="decimal" maxlength="10  " inputId="contact" required
                    autofocus />
                <small class="p-error" *ngIf="submitted && !user.contact">Contact is required.</small><br>
                <label for="state">State</label>
                <p-dropdown inputId="state" name="state" [options]="states" [(ngModel)]="user.stateId"
                    placeholder="State" optionLabel="label" optionValue="value"></p-dropdown>
            </div>
            <div class="p-field p-col-6">
                <label for="address">Address</label>
                <textarea rows="4" cols="30" id="address" [(ngModel)]="user.address" pInputTextarea
                    autoResize="autoResize" placeholder="Address" required autofocus></textarea>
                <small class="p-error" *ngIf="submitted && !user.address">Address is required.</small>
            </div>
            <div class="p-field p-col-6">
                <label for="city">City</label>
                <p-dropdown inputId="cities" name="city" [options]="cities" [(ngModel)]="user.cityId" placeholder="City"
                    optionLabel="label" optionValue="value"></p-dropdown>
            </div>
            <div class="p-field p-col-6">
                <label for="pincode">Pincode</label>
                <p-inputNumber [(ngModel)]="user.pinCode" minlength="6" maxlength="6" mode="decimal"
                    placeholder="Pincode " inputId="pincode" [useGrouping]="false">
                </p-inputNumber>
            </div>
        </div>
        <div class="p-card-footer p-text-right">
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button p-button-raised"
                (click)="saveUser(user)"></button>
            <button pButton pRipple label="Reset" icon="pi pi-refresh" class="p-button-danger p-button-raised"
                (click)="reset()"></button>
        </div>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>