// If you want to override variables do it here
// @import "variables";
// Import styles
// @import "~@coreui/coreui/scss/coreui";
// If you want to add something do it here
// @import "custom";
@import "./../../node_modules/primeicons/primeicons.css";
// @import "node_modules/primeng/resources/primeng.min.css";
//  @import "node_modules/primeflex/primeflex.css";
// "./node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css",
body{
    margin:0; 
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #23282c;
    text-align: left;
    background-color: #e4e5e6;
}

.app , app-root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main .container-fluid{
    padding:0 25px;
}
.p-card {
    padding: .75rem;
    border-radius: 4px; 
    margin-bottom: 1.5rem; 
    position: relative;
}
.voteTxt {
    color: #898989;
}

.p-tabview .p-tabview-nav {
    li {
        a{
            font-size: 16px !important;
            font-weight: normal !important;
        }
        a:focus,a:visited{
            outline: 0 !important; 
            box-shadow: none !important;
        } 
    }
    li.p-highlight{
        a{
            color:#222b94 !important;
        }
    }
} 

// 
p-dialog app-order-status .p-card {
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}
// Table css
.p-datatable .p-datatable-wrapper .p-datatable-thead > tr > th,
.p-datatable .p-datatable-wrapper .p-datatable-tbody > tr > td{
    padding:0.5rem;
}
